*{
    box-sizing: border-box;
    
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  background-color: azure;
}

header{
    position: fixed;
    width: 100%;
    z-index: 20;
    text-transform: initial;
}
nav{
 margin: 0;
 padding: 0;
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: space-around;
 background-color: rgb(1, 1, 101);
 color: white;
}

.navbar-brand a{
  text-align: center;
  text-decoration: none !important;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0px;
  font-family: 'Roboto';
  color: white;
}

nav ul{
  text-align: center;
  list-style-type: none;
  padding: 20px;
  overflow: hidden;
}

nav li{
  width: 100px;
  display: inline-block;
}
nav li a{
   text-decoration: none !important;
   padding: 10px 20px;
   font-weight: bold;
   display: flex;
   text-align: center;
   color: white;
}
.navbar-menu li a:hover{
  background-color: black;
  color: white;
  padding: 5px ;
  justify-content: center;
  border-radius: 30px;
  
}

.container{
  width: 100%;
  margin: 0 auto;;
}

.content{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.content-1{
 position: relative;
 top: 200px;
 display: block;
 padding: 30px 80px 30px 250px;
 text-align: left;
}
.content-1 h2{
 font-weight: bold;
 font-size: 80px;
}
.content-2{
  padding: 0px 120px;
  z-index: 18;
}
.content-2 img{
    height: 750px;
    width: 450px;
}
@media screen and (max-width: 1000px) {
  .content {
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
  }
  .content-1 {
     font-size: 10px;
    width: 200%;
    position: relative;
    right: 100px;
    z-index: 19;
    top: 120px;
  }
  .content-1 h2 {
    width: 300%;
  }
  .content-1 p {
    width: 300%;
    font-size: 15px;
  }
  .content-2{
  padding: 0px 150px;
  top: 180px;
  position: relative;
}
  .content-2 img {
    padding: 0px 0px;
    height: 600px;
    width: 300px;
  }
  .home {
    flex-direction: column;
    margin: 0 auto;
    width: 20%;
    align-items: center;
   
  }
  .home-1 {
    align-items: center;
  }
  .home-2 {
    position: relative;
    top: 500px;
    align-items: center;
  }
  .love {
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
  }
  .fearsome {
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
  }
  .beautiful {
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
  }
}

.home{
    margin: 30px auto;
    width: 40%;
}
.home-1{
  position: relative;
  top: 130px;
  display: block;
  line-height: 1.5rem;
  text-align: center;
  padding: 15x;
  line-height: 1.7rem;
}
.home-1 h1{
  text-transform: uppercase;
  width: 102%;
}

.love{
    display: flex;
    position: relative;
    top: 200px;
    width: 100%;
    justify-content: space-around;
}
.love-1{
   position: relative;
   left: 100px;
   top: 70px;
   text-align: right;
}
.love-1 a{
  text-decoration: none !important;
  background-color: aqua;
  padding: 15px;
  border-radius: 30px;
  margin: 15px;
  font-size: 15px;
  float: right;
  display: inline-block;
  gap: 20px;
}
.love-1 a:hover{
  background-color: black;
  color: white;
}
.love-1 h2{
  text-align: right;
  text-transform: capitalize;
}
.love-2{
    
}
.love-2 img{
    height: 350px;
    width: 510px;
}

.fearsome{
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  top: 220px;
  justify-content: space-around;
}
.fearsome-1{
  position: relative;
  left: 100px;
}
.fearsome-1 img{
   height: 300px;
   width: 480px;
}
.fearsome-2{
  position: relative;
  right: 90px;
  top: 90px;
  left: 5px;
}
.fearsome-2 a{
  text-decoration: none !important;
  background-color: aqua;
  padding: 15px;
  border-radius: 30px;
  margin: 15px;
  font-size: 15px;
  float: left;
  display: inline-block;
}
.fearsome-2 a:hover{
  background-color: black;
  color: white;
}

.beautiful{
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: space-around;
  top: 250px;
}

.beautiful-1{
  position: relative;
  left: 85px;
  top: 80px;
  text-align: right;
}
.beautiful-1 h1{
  float: right;
}
.beautiful-1 a{
  text-decoration: none !important;
  background-color: aqua;
  padding: 15px;
  border-radius: 30px;
  margin: 15px;
  font-size: 15px;
  float: right;
  display: inline-block;
}
.beautiful-2{
  position: relative;
  right: 30px;

}
.beautiful-2 img{
  height: 300px;
   width: 480px;
}
.beautiful-2:hover {
  box-shadow: 10px 10px;
  color: cadetblue;
}

.about{
   width: 93%;
   margin: 0 auto;
   position: relative;
   top: 400px;
   display: flex;
   justify-content: space-around;
}
.about-1{
  position: relative;
  left: 75px;
  top: 100px;
}
.about-1 h4{
  line-height: 1.5em;
  word-spacing: 0.2rem;
}
.about-1 p{
  margin: 10px 0;
}
.about-icon{
  display: inline-block;
  flex-direction: row;
  margin: 10px 0;
  line-height: 2.3em;
}
.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.icon-paws::before {
  content: '\f1b0';
  font: var(--fa-font-solid);
  padding: 0 20px 0 0;
}

.about-2{
  position: relative;
  letter-spacing: 2px;
}
.about-2 img{
  height: 650px;
  width: 500px;
}

#service {
  background-color: aquamarine;
  position: relative;
  top: 600px;
  text-align: center;
  padding: 90px 0 30px 0;
}
.trainer-img {
  height: 350px;
  width: 300px;
  margin: 20px 0;
}
.trainer-txt {
  width: 100%;
}
.trainer-img:hover {
  box-shadow: 10px 10px 20px 20px;
  color: cornflowerblue;
}

.trainer-2 {
  display: flex;
  width: 60%;
  margin: 0 auto;
  justify-content: center;
}
.row-1 {
  text-align: left;
  margin: 30px 10px;
}
.row-2 {
 text-align: left;
  margin: 30px 10px;
}
.row-3 {
  text-align: left;
   margin: 30px 10px;
}



