*{
    box-sizing: border-box;
    background-color: azure;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

header{
    position: fixed;
    width: 100%;
    z-index: 20;
    text-transform: initial;
}
nav{
 margin: 0;
 padding: 0;
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: space-around;
}

.navbar-brand a{
  text-align: center;
  text-decoration: none !important;
  font-size: 30px;
  font-weight: bold;
  padding: 10px 0px;
}

nav ul{
  text-align: center;
  list-style-type: none;
  padding: 20px;
  overflow: hidden;
}

nav li{
  width: 100px;
  display: inline-block;
}
nav li a{
   text-decoration: none !important;
   padding: 10px 0px;
   width: 100%;
   font-weight: bold;
   display: flex;
}

.content{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.content-1{
 position: relative;
 top: 200px;
 display: block;
 padding: 30px 190px;
}
.content-1 h2{
 font-weight: bold;
 font-size: 70px;
}
.content-2{
  padding: 0 50px;
  z-index: 18;
}
.content-2 img{
    height: 700px;
    width: 400px;
}

.home{
    margin: 30px auto;
    width: 40%;
}
.home-1{
  position: relative;
  top: 500px;
  display: block;
  line-height: 1.5rem;
  text-align: center;
  padding: 15x;
  line-height: 1.7rem;
}
.home-1 h1{
  text-transform: uppercase;
  width: 102%;
}

.love{
    display: inline-block;
    position: relative;
    top: 400px;
}
.love-1{
    display: block;
    position: relative;
    top:  240px;
    left: 130px;
}
.love-1 h2{
  text-align: right;
  text-transform: capitalize;
}
.love-2{
    position: absolute;
    left: 650px;
    right: 0;
}
.love-2 img{
    height: 300px;
    width: 510px;
}

.fearsome{
  width: 50%;
  margin: 0 auto;
}
.fearsome-1{
  position: absolute;
  top: 1350px;
  left: 180px;
}
.fearsome-1 img{
   height: 300px;
   width: 450px;
}
.fearsome-2{
  position: relative;
  top: 780px;
  left: 380px;
}
.fearsome-2 a:hover{
  background-color: black;
}

.beautiful{
  width: 75%;
  margin: 0 auto;
}
.beautiful-1{
  position: relative;
  left: 5px;
  top: 950px;
}
.beautiful-2{
  position: absolute;
  left: 700px;
  top:  1650px;
  right: 0;
}
.beautiful-2 img{
  height: 300px;
   width: 480px;
}

.about{
   width: 93%;
   margin: 0 auto;
}
.about-1{
  position: relative;
  top: 1300px;
  left: 100px;
  padding: 15x;
  line-height: 1.7rem;
}
.about-2 img{
  position: absolute;
  top: 2070px;
  left: 700px;
  height: 650px;
  width: 500px;
}

